problem:
  n: 100
  perturb: True
  t_max: 10

training:
  method: 'unsupervised'
  seed: 0
  niters: 2000
  g_lr: 0.008467333205384038
  d_lr: 0.000469485661628429
  g_betas: [0.67103718, 0.14351227]
  d_betas: [0.86631674, 0.16513108]
  lr_schedule: True
  gamma: 0.9907226708922195
  obs_every: 1
  d1: 1
  d2: 1
  G_iters: 1
  D_iters: 1
  loss_fn: MSELoss
  wgan: False
  gp: 0.1
  conditional: False
  log: True
  plot: True
  save: True
  save_for_animation: False
  dirname: 'EXP_run'

generator:
  in_dim: 1
  out_dim: 1
  n_hidden_units: 30
  n_hidden_layers: 2
  activation: 'Tanh'
  residual: True
  regress: True

discriminator:
  in_dim: 1
  out_dim: 1
  n_hidden_units: 20
  n_hidden_layers: 4
  activation: 'Tanh'
  residual: True
  regress: False
  spectral_norm: True
