problem:
  nx: 32
  ny: 32
  perturb: True

training:
  method: 'unsupervised'
  seed: 0
  niters: 1000
  g_lr: 0.0005255488799146978 # 0.00020180984318885796 # 0.001 # 0.00515127896728461 # 0.004106902182727091 # 0.0014872838179795017 # 0.0018511597540434369 # 0.00343138738392608 # 0.00381444441532916 # 0.001370709904579337 # 0.003169103370973644 # 0.007361054591869497 # 0.0010581199366766739 # 0.00019893770088673558
  d_lr: 0.008514807806265352 # 0.0031349307555084156 # 0.0034392953625345234 # 0.0006990249668732743 # 0.00612225388409652 # 0.008959528657656876 # 1.5235129414337257e-05 # 0.0006289878362667865 # 0.0038988679532183123 # 0.004097684279462624 # 0.0006002635360585028 # 0.0082308795903601 # 0.0039994072067298745
  g_betas: [0.83510043, 0.3353063 ] # [0.76106005, 0.07500873] # [0.9, 0.999] # [0.21835534, 0.85137311] # [0.3842972, 0.2369671] # [0.52240202, 0.94529104] # [0.9, 0.999] # [0.49984345, 0.95179449] # [0.37669454, 0.86754843] # [0.83434972, 0.95894917] # [0.25462125, 0.73935523] # [0.4500337 , 0.77836468] # [0.7788544 , 0.63378459] # [0.9, 0.999]
  d_betas: [0.42605297, 0.69853051] # [0.14686573, 0.12512614] # [0.97137222, 0.50639674] # [0.9586569 , 0.29148995] # [0.94222431, 0.43201888] # [0.9, 0.999] # [0.66382411, 0.6344498] # [0.83569171, 0.12364047] # [0.6378163 , 0.48677032] # [0.9178384 , 0.35725033] # [0.4125969 , 0.48188976] # [0.87146981, 0.02894317] # [0.9, 0.999]
  lr_schedule: True
  gamma: 0.994 # 0.9932553033254312 # 0.9940129983433766 # 0.999 # 0.9943918177955018 # 0.995 # 0.9977176227363057 # 0.998 # 0.9963152217121598 # 0.9989237176869176 # 0.997437589708022 # 0.9952363611227615 # 0.9933534593501404 # 0.9993713445857165
  obs_every: 1
  d1: 1
  d2: 1
  G_iters: 1
  D_iters: 1
  loss_fn: L1Loss
  wgan: False
  gp: 0.1
  conditional: False
  log: True
  plot: True
  save: True
  save_for_animation: False
  dirname: 'POS_run_test'

generator:
  in_dim: 2
  out_dim: 1
  n_hidden_units: 20 # 40
  n_hidden_layers: 2
  activation: 'Tanh'
  residual: True
  regress: True

discriminator:
  in_dim: 1
  out_dim: 1
  n_hidden_units: 40 # 20
  n_hidden_layers: 2
  activation: 'Tanh'
  residual: True
  regress: False
  spectral_norm: True
